In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools
import datetime

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1049,tt1716777,16000000,12434778,People Like Us,Chris Pine|Elizabeth Banks|Olivia Wilde|Michel...,Alex Kurtzman,Find your family.,"It tells the story of a struggling man who, af...",114,Drama,DreamWorks SKG|Touchstone Pictures,6/29/2012,6.6,2012
740,tt1515091,125000000,334615000,Sherlock Holmes: A Game of Shadows,Robert Downey Jr.|Jude Law|Jared Harris|Noomi ...,Guy Ritchie,The Game is Afoot.,There is a new criminal mastermind at large--P...,129,Adventure|Action|Crime|Mystery,Village Roadshow Pictures|Silver Pictures|Lin ...,11/22/2011,6.9,2011
84,tt3567288,5000000,98450062,The Visit,Olivia DeJonge|Ed Oxenbould|Kathryn Hahn|Benja...,M. Night Shyamalan,No one loves you like your grandparents.,The terrifying story of a brother and sister w...,94,Horror|Thriller,Blumhouse Productions|Blinding Edge Pictures,9/10/2015,5.9,2015
1794,tt0367959,50000000,82169884,Hannibal Rising,Gaspard Ulliel|Aaran Thomas|Gong Li|Dominic We...,Peter Webber,It started with revenge.,"The story of the early, murderous roots of the...",121,Crime|Drama|Thriller,Ingenious Film Partners|ETIC Films|Quinta Comm...,2/6/2007,6.0,2007
945,tt0265349,32000000,55157539,The Mothman Prophecies,Richard Gere|Laura Linney|Will Patton|Bob Trac...,Mark Pellington,What do you see?,Reporter John Klein is plunged into a world of...,119,Drama|Mystery|Thriller|Horror,Lakeshore Entertainment,1/25/2002,5.9,2002

In [0]:
data.describe()

# Предобработка

In [8]:
def add_columns(data):
    '''
    input: data - data frame
    convert column 'release_date' to data format
    add new columns 'month' and 'profit'
    
    '''
    data['release_date'] = data['release_date'].apply(lambda x: datetime.datetime.strptime(x,"%m/%d/%Y"))
    data['release_month'] = data['release_date'].apply(lambda x: x.month)

    # profit = revenue - budget
    data['profit'] = data['revenue'] - data['budget']

def format_answer(answer):
    '''
    input: answer - <class 'pandas.core.frame.DataFrame'>
    output: answer given in established form
    '''
    new_answer = ""
    
    for i in range(len(answer)):
        new_answer = new_answer + "\n %s. %s (%s)"%(answer['original_title'].index.tolist()[i],\
            answer['original_title'].tolist()[i],answer['imdb_id'].tolist()[i],)
        
    return new_answer[2:]
    

def split_explode(df,column_name):
    '''
    split & explode
    input:  df - data frame,  column_name - string
    output: df - data frame
    '''
    df[column_name] = df[column_name].str.split('|')
    df = df.explode(column_name)
    return df


 
def most_popular_genres(column):
    '''
    answer 11: find the most popular genres
    input:   column
    output: genres - string
    '''
    list_genres = []
    genres = list(map(lambda x: (x.split('|')),column))
    for element in genres: list_genres.extend(element)
    popular_genres = Counter(list_genres).most_common(1)
    if len(popular_genres) > 0:
        genres = popular_genres[0]
        print(type(genres))
    else:
        genres = ''
    return genres

In [9]:
answers = {} # создадим словарь для ответов

try:
    add_columns(data)
except:
    data = pd.read_csv('movie_bd_v5.csv')
    add_columns(data)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [11]:
# тут пишем ваш код для решения данного вопроса:
answer = data[data['budget']==data['budget'].max()][['original_title','imdb_id']]
answers['1'] = format_answer(answer)
print(answers['1'])

723. Pirates of the Caribbean: On Stranger Tides (tt1298650)

ВАРИАНТ 2

In [12]:
# можно добавлять разные варианты решения
data[['imdb_id','original_title','release_year','budget']].sort_values(['budget'],ascending=False).head(1)

,imdb_id,original_title,release_year,budget
723,tt1298650,Pirates of the Caribbean: On Stranger Tides,2011,380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [13]:
answer = data[data['runtime']==data['runtime'].max()][['original_title','imdb_id']]
answers['2'] = format_answer(answer)
print(answers['2'])

1157. Gods and Generals (tt0279111)

ВАРИАНТ 2

In [16]:
data[['imdb_id','original_title','release_year','runtime']].sort_values(['runtime'],ascending=False).head(1)

        imdb_id     original_title  release_year  runtime
1157  tt0279111  Gods and Generals          2003      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [17]:
answer = data[data['runtime']==data['runtime'].min()][['original_title','imdb_id']]
answers['3'] = format_answer(answer)
print(answers['3'])

768. Winnie the Pooh (tt1449283)

ВАРИАНТ 2

In [18]:
data[['imdb_id','original_title','release_year','runtime']].sort_values(['runtime'],ascending=True).head(1)

       imdb_id   original_title  release_year  runtime
768  tt1449283  Winnie the Pooh          2011       63

# 4. Какова средняя длительность фильмов?

In [20]:
answer = round(data['runtime'].mean(),2)
answers['4'] = round(answer)
print(answers['4'])

110

# 5. Каково медианное значение длительности фильмов?

In [23]:
answer = round(data['runtime'].median(),2)
answers['5'] = answer
print(answers['5'])

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [24]:
answer = data[data['profit']==data['profit'].max()][['original_title','imdb_id']]
answers['6'] = format_answer(answer)
print(answers['6'])

239. Avatar (tt0499549)

In [25]:
data[['imdb_id','original_title','release_year','profit']].sort_values(['profit'],ascending=False).head(1)

       imdb_id original_title  release_year      profit
239  tt0499549         Avatar          2009  2544505847

# 7. Какой фильм самый убыточный?

In [26]:
answer = data[data['profit']==data['profit'].min()][['original_title','imdb_id']]
answers['7'] = format_answer(answer)
print(answers['7'])

1245. The Lone Ranger (tt1210819)

In [27]:
data[['imdb_id','original_title','release_year','profit']].sort_values(['profit'],ascending=True).head(1)

        imdb_id   original_title  release_year     profit
1245  tt1210819  The Lone Ranger          2013 -165710090

In [28]:
data['profit'].describe()

count    1.889000e+03
mean     1.010545e+08
std      1.830733e+08
min     -1.657101e+08
25%      5.000000e+06
50%      4.400041e+07
75%      1.201842e+08
max      2.544506e+09
Name: profit, dtype: float64

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [29]:
answers['8'] = data[data['profit']>0]['profit'].count()
print(answers['8'])

1478

In [30]:
data[data['profit']<=0]['profit'].count()

411

In [31]:
1478+411

1889

In [32]:
data['original_title'].count()

1889

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [33]:
answer = data[(data['release_year']==2008) & (data['profit']==data[data['release_year']==2008]['profit'].max())][['original_title','imdb_id']]
answers['9'] = format_answer(answer)
print(answers['9'])

599. The Dark Knight (tt0468569)

In [34]:
data[data['release_year']==2008].sort_values(['profit'],ascending=False).head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,7,816921825
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,2008-05-21,5.6,2008,5,601636033
607,tt0795421,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,2008-06-30,6.2,2008,6,557841637

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [35]:
answer = data[(data['release_year']>=2012) & (data['release_year']<=2014) & (data['profit']\
        ==data[(data['release_year']>=2012) & (data['release_year']<=2014)]['profit'].min())][['original_title','imdb_id']]
answers['10'] = format_answer(answer)
print(answers['10'])

1245. The Lone Ranger (tt1210819)

In [36]:
data[(data['release_year']>=2012) & (data['release_year']<=2014)].sort_values(['profit'],ascending=True).head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,7,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,2013-07-18,5.3,2013,7,-68351500
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,2012-09-27,6.1,2012,9,-51893525

# 11. Какого жанра фильмов больше всего?

In [37]:
answers['11'] = most_popular_genres(data['genres'])[0]
print(answers['11'])

<class 'tuple'>
Drama

ВАРИАНТ 2

In [38]:
data2 = data.copy()
data2 = split_explode(data2,'genres')
data2['genres'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [39]:
data2[data2['profit']>0]['genres'].value_counts()#прибыльные

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

ВАРИАНТ 2

In [40]:
answers['12'] = most_popular_genres(data[data['profit']>0]['genres'])[0]
print(answers['12'])

<class 'tuple'>
Drama

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [41]:
data2 = data.copy()
answers['13'] = data2.groupby(['director'])['profit'].sum().sort_values(ascending=False).head(1).index[0]
print(answers['13'])

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [42]:
data2 = data[data['genres'].str.contains('Action')].copy()
data2 = split_explode(data2,'director')
answers['14'] = data2['director'].value_counts().head(1).index[0]
print(answers['14'])

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [43]:
data2 = data[(data['release_year']==2012) & (data['profit']>0)].copy()
data2 = split_explode(data2,'cast')
actor = data2.groupby(['cast'])['profit'].sum().sort_values(ascending=False).head(1).index[0]
data2[data2['cast'].str.contains(actor)][['original_title','imdb_id','profit','release_year']]
answers['15'] = actor
print(answers['15'])

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [44]:
data2 = data[data['budget']>data['budget'].mean()].copy()
data2 = split_explode(data2,'cast')
answers['16'] = data2.groupby(['cast'])['cast'].count().sort_values(ascending=False).head(1).index[0]
print(answers['16'])

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [45]:
data2 = data[data['cast'].str.contains('Nicolas Cage')].copy()
data2 = split_explode(data2,'genres')
answers['17'] = data2['genres'].value_counts().head(1).index[0]
print(answers['17'])

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [46]:
data2 = data[data['profit']<=0].copy()
data2 = split_explode(data2,'production_companies')
data2 = data2[(data2['production_companies']=='Paramount Pictures')]
answer = data2[data2['profit']==data2['profit'].min()][['original_title','imdb_id']]
answers['18'] = format_answer(answer)
print(answers['18'])

925. K-19: The Widowmaker (tt0267626)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [47]:
data2 = data.copy()
answers['19'] = data2.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1).index[0]
print(answers['19'])

2015

In [48]:
data2.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2010    13531204961
2009    13423744372
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [49]:
data2 = data.copy()
data2 = split_explode(data2,'production_companies')
data2 = data2[data2['production_companies'].str.contains('Warner Bros')]
answers['20'] = data2.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1).index[0]
print(answers['20'])

2014

In [50]:
data2.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [51]:
data2 = data.copy()
answers['21'] = data2.groupby(['release_month'])['original_title'].count().sort_values(ascending=False).head(1).index[0]
print(answers['21'])

9

In [52]:
data2.groupby(['release_month'])['original_title'].count().sort_values(ascending=False)

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [53]:
answers['22'] = data2[(data2['release_month']>=6) & (data2['release_month']<=8)]['original_title'].count()
print(answers['22'])

450

In [54]:
161+147+142

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [55]:
data2 = data.copy()
data2 = split_explode(data2,'director')
data2 = data2[(data2['release_month']<=2) | (data2['release_month']==12)]
answers['23'] = data2.groupby(['director'])['director'].count().sort_values(ascending=False).head(1).index[0]
print(answers['23'])

Peter Jackson

In [56]:
data2.groupby(['director'])['director'].count().sort_values(ascending=False)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [57]:
data2 = data.copy()
data2['length_title'] = data['original_title'].apply(lambda x: len(x))
data2 = split_explode(data2,'production_companies')
answers['24'] = data2.groupby(['production_companies'])['length_title'].mean().sort_values(ascending=False).head(1).index[0]
print(answers['24'])

Four By Two Productions

In [58]:
data2.groupby(['production_companies'])['length_title'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: length_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [59]:
data2 = data.copy()
data2['length_overview'] = data['overview'].apply(lambda x: len(x.split()))
data2 = split_explode(data2,'production_companies')
answers['25'] = data2.groupby(['production_companies'])['length_overview'].mean()\
    .sort_values(ascending=False).head(1).index[0]
print(answers['25'])

Midnight Picture Show

In [60]:
data2.groupby(['production_companies'])['length_overview'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: length_overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [61]:
data2 = data.copy()
answer = data2[data2['vote_average']>data2['vote_average'].quantile(.99)][['original_title','imdb_id']]
answers['26'] = format_answer(answer)
print(answers['26'])

9. Inside Out (tt2096673)
 34. Room (tt3170832)
 118. Interstellar (tt0816692)
 119. Guardians of the Galaxy (tt2015381)
 125. The Imitation Game (tt2084970)
 128. Gone Girl (tt2267998)
 138. The Grand Budapest Hotel (tt2278388)
 370. Inception (tt1375666)
 599. The Dark Knight (tt0468569)
 872. The Pianist (tt0253474)
 1081. The Lord of the Rings: The Return of the King (tt0167260)
 1183. The Wolf of Wall Street (tt0993846)
 1191. 12 Years a Slave (tt2024544)
 1800. Memento (tt0209144)

In [62]:
data2['vote_average'].quantile(.99)

7.8

In [63]:
data2[data2['vote_average']>data2['vote_average'].quantile(.99)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month,profit
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,6,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,10,29401758
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,11,456752480
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,7,603312399
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,11,219555708
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,10,308330363
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,2,144600318
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,7,665500000
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,7,816921825
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,9,85072577
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,12,1024888979
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,12,292000694
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,10,167000000
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,10,30723096

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [64]:
data2 = data.copy()
data2['cast'] = data2['cast'].str.split('|').apply(lambda x: list(itertools.combinations(x, 2)))
data2 = data2.explode('cast')
answer = data2.cast.value_counts()
maxval = answer.values.max()
i=0
answers['27'] = ''
while answer.values[i] == maxval:
    answers['27'] = answers['27'] + str(answer.index[i])
    i = i + 1
print(answers['27'])

('Daniel Radcliffe', 'Rupert Grint')('Daniel Radcliffe', 'Emma Watson')

# Submission

In [65]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107.0,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': '9. Inside Out (tt2096673)\n 34. Room (tt3170832)\n 118. Interstellar (tt0816692)\n 119. Guardians of the Galaxy (tt2015381)\n 125. The Imitation Game (tt2084970)\n 128. Gone Girl (tt2267998)\n 138. The Grand Budapest Hotel (tt2278388)\n 370. Inception (tt1375666)\n 599. The Dark Knight (tt0468569)\n 872. The Pianist (tt0253474)\n 1081. The Lord of the Rings: The Return of the King (tt0167260)\n 1183. The Wolf of Wall Street (tt0993846)\n 1191. 12 Years a Slave (tt2024544)\n 1800. Memento (tt0209144)',
 '27': "('Daniel Radcliffe', 'Rupert Grint')('Daniel Radcliffe', 'Emma Watson')"}

In [66]:
# и убедиться что ни чего не пропустил)
len(answers)

27